[Unit]
Description=Monero Pool
After=network.target

[Service]
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=monero-pool
Restart=always
RestartSec=30
Environment=REDIS_HOST=localhost
WorkingDirectory=/home/monero/pool
ExecStart=/usr/bin/node /home/monero/pool/init.js

[Install]
WantedBy=multi-user.target
